<div class="row">
    <div class="col-md-12">
        <h2>{{department.departmentName}} - Department: {{ department.departmentId}}</h2>
        <hr />
        <form method="post" action="/department/update">
            <fieldset>
                <legend>Department Name</legend>
                <input for="departmentId" name="departmentId" type="hidden" value="{{data.departmentId}}">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="departmentName">Department Name</label>
                            <input
                                class="form-control"
                                id="departmentName"
                                name="departmentName"
                                type="text"
                                value="{{data.departmentName}}"
                            />
                        </div>
                    </div>
                </div>
            </fieldset>    
            <br>
            <br>
            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Update Department" /><br />
            <br />
            <br />
        </form>
    </div>
</div>
